*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    display: flex;
}

button {
    font-size: 1.5em;
    background-color: rgb(123, 152, 194);
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.div-img{
    max-width: 500px;
}

#img {
    width: 100%;   
    height: 100%;
    margin: 5px auto;
}

.botones{
    display: flex;
}

.botones img{
    width: 100%;   
    height: 100%;
}